.no-js .preloader {
  display: none;
}
.no-js .navbar-right {
  float: right;
  margin: 30px 0;
  width: 1100px;
}
.no-js .navbar-right > div {
  position: static;
  float: left;
}
.no-js .navbar-right .block-dropdowns [class*="block-"] {
  float: left;
  position: relative;
  padding-top: 50px;
}
.no-js .navbar-right .block-dropdowns button {
  position: absolute;
  top: 0;
  left: 0;
}
.no-js .navbar-form {
  width: auto;
}
.no-js .navbar-form #toggle-search {
  display: none;
}
.no-js .navbar-form .dropdown {
  position: relative;
}
.no-js .navbar-form .dropdown-menu {
  padding: 10px 0;
  margin: 0;
  height: auto;
}
.no-js .navbar-form .dropdown-menu button {
  float: right;
  position: static;
  background: none;
}
.no-js .navbar-form .txt-search {
  float: left;
  width: 200px;
  position: static;
}
.no-js .dropdown-menu {
  position: static !important;
  display: block !important;
  width: auto !important;
}
.no-js .banner-slider {
  position: relative;
}
.no-js .out-dock .side-wideget {
  width: 225px;
  opacity: 1;
}
.no-js .mainnav .menu-level1:hover .submenu-level1 {
  display: block;
}
.no-js .panel-collapse {
  display: block;
}
.no-js .panel-default > .panel-heading .collapsed:before {
  background-position: 0 -30px;
}
.no-js :target {
  display: block!important;
  visibility: visible!important;
}
.no-js :target + .tab-pane {
  display: none!important;
  visibility: hidden!important;
}
.no-js .calculate-cash-rebate .total {
  display: block;
}
.collapse-block {
  border-bottom: 1px solid #e5e5e5;
}
.collapse-block .grid-wrapper {
  border-top: 1px solid #e5e5e5;
}
.collapse-block .grid-wrapper:first-child {
  border-bottom: 1px solid #fff;
}
.collapse-block .grid-wrapper.col-3 .grid-content {
  width: 33.333%;
}
.collapse-block .grid-content figcaption {
  width: 80%;
  margin: 0 auto;
}
.collapse-block .grid-content > a {
  min-height: 296px;
}
.collapse-block .grid-content > a img {
  width: 70px;
  height: auto;
}
.collapse-block .grid-content.active {
  background-color: #e9e9e9;
}
.collapse-block .grid-content.active .more {
  display: none;
}
.collapse-block .grid-content.active .less {
  display: block;
}
.collapse-block .grid-content:hover a {
  text-decoration: inherit;
}
.collapse-block .grid-content .inner {
  min-height: 296px;
}
.collapse-block .grid-content .inner img {
  height: auto;
  width: 70px;
}
.collapse-block .collapse-nav {
  margin-top: 10px;
  font-size: 16px;
}
.collapse-block .collapse-nav.more {
  display: block;
}
.collapse-block .collapse-nav.less {
  display: none;
}
.collapse-block .collapse-nav:hover {
  text-decoration: underline !important;
}
.collapse-block .collapse-body {
  color: #333;
  font-size: 16px;
  background-color: #e9e9e9;
}
.collapse-block .collapse-body small {
  display: block;
  font-size: 12px;
}
.collapse-block .collapse {
  padding: 50px;
}
.collapse-block .collapse .heading4 {
  font-weight: bold;
}
.collapse-block .collapse p {
  margin-bottom: 0;
  font-size: inherit;
}
.collapse-block .collapse a {
  color: #06377b;
}
.collapse-block .collapse a:hover {
  text-decoration: underline;
}
.collapse-block .collapse ul {
  margin-top: 10px;
}
.collapse-block .collapse ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
}
.collapse-block .collapse ul li:before {
  content: "\2022";
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 15px;
}
.collapse-block .collapse ul li.title {
  padding-left: 5px;
}
.collapse-block .collapse ul li.title:before {
  content: '';
}
/* Home main slider */
.mainbanner {
  position: relative;
}
.bxslider img {
  width: 100%;
  margin: 0 auto;
}
.bxslider .main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.bxslider .main-banner .thumb {
  position: absolute;
  top: 70px;
}
.bxslider .main-banner .caption {
  position: absolute;
  text-align: left;
  top: 0;
}
.bxslider .main-banner .caption .btn-1 {
  margin-bottom: 30px;
}
.bxslider .main-banner .caption h2 {
  font-size: 30px;
  font-weight: bold;
  color: #001f67;
  margin: 0 0 15px;
  text-transform: none;
  line-height: 1.25em;
}
.bxslider .main-banner .caption p {
  font-size: 18px;
  color: #333;
  margin: 0 0 20px;
}
.bxslider .main-banner .caption img {
  display: inline-block;
  width: auto;
}
.bxslider .main-banner.right .thumb {
  left: 30px;
}
.bxslider .main-banner.right .caption {
  width: 618px;
  right: 0;
  padding: 160px 65px 0 0px;
}
.bxslider .main-banner.left .thumb {
  right: 130px;
}
.bxslider .main-banner.left .caption {
  width: 578px;
  left: 0;
  padding: 160px 0px 0 65px;
}
.bxslider .main-banner.middle {
  width: 510px;
  top: 360px;
}
.bxslider .main-banner.middle .caption {
  text-align: center;
  position: static;
  width: 100%;
}
.bx-pager {
  position: absolute;
  bottom: 100px;
  left: 35px;
  width: 1110px;
  z-index: 52;
}
.bx-pager a {
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: table;
  background: #fff;
  color: #333;
  text-decoration: initial;
  float: left;
  width: 25%;
  text-align: center;
  height: 90px;
  padding: 10px;
}
.bx-pager a:last-child {
  border-right: 1px solid #e5e5e5;
}
.bx-pager a .bx-pager-tabs {
  padding: 0 25px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
  text-transform: capitalize;
}
.bx-pager a.bx-2item {
  width: 50%;
}
.bx-pager a.bx-3item {
  width: 33.33333333%;
}
.bx-pager a:hover,
.bx-pager a.active {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #001f67;
  color: #fff;
}
.btnscroll {
  width: 100%;
  clear: both;
  position: relative;
}
.btnScrollTo {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  display: block;
  z-index: 52;
  background-color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  border: 1px solid #e5e5e5;
}
.btnScrollTo span {
  font-size: 60px;
}
.btnScrollTo:hover {
  color: #fff;
  background-color: #001f67;
}
/* Home grid */
.tbl-content {
  position: relative;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  margin-bottom: 40px;
}
.grid-wrapper {
  display: table;
  width: 100%;
  clear: both;
}
.grid-content {
  display: table-cell;
  width: 50%;
  background-color: #fff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.grid-content.grid-gray {
  background-color: #e5e5e5;
}
.grid-content.grid-whitesmoke {
  background-color: #f7f7f7;
}
.grid-content a:hover {
  text-decoration: underline;
}
.grid-content .inner {
  display: block;
  width: 100%;
  padding: 30px 25px;
  text-align: center;
  color: #333;
}
.grid-content .inner img {
  display: inline-block;
  height: 100px;
}
.grid-content .inner h3 {
  margin: 26px 0 20px;
  font-size: 22px;
  font-weight: bold;
}
.grid-content .inner p {
  font-size: 16px;
  margin: 0;
}
.dock {
  position: fixed;
  top: 256px;
  right: 0;
  z-index: 52;
}
.out-dock {
  text-align: right;
  padding: 0 15px;
}
.out-dock ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.out-dock ul.key-wideget {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 50px;
  text-align: center;
  display: inline-block;
  float: right;
  border: 1px solid #e5e5e5;
}
.out-dock ul.key-wideget li {
  width: 100%;
  padding: 15px 5px;
  height: 55px;
  width: 50px;
  border-top: 1px solid #fff;
}
.out-dock ul.key-wideget li .content {
  color: #001f67;
}
.out-dock ul.key-wideget li .content:focus {
  outline: none;
}
.out-dock ul.key-wideget li .icon {
  font-size: 25px;
}
.out-dock ul.key-wideget li .icon.icon-money,
.out-dock ul.key-wideget li .icon.icon-venue {
  font-size: 27px;
}
.out-dock ul.key-wideget li:first-child.active {
  border-top: none;
}
.out-dock ul.key-wideget li.active {
  background: #001f67;
}
.out-dock ul.key-wideget li.active .icon {
  color: #fff;
}
.out-dock ul.side-wideget {
  float: left;
  width: 0px;
  opacity: 0;
  -webkit-transition: width 0.3s, opacity 0.3s;
  -moz-transition: width 0.3s, opacity 0.3s;
  -ms-transition: width 0.3s, opacity 0.3s;
  -o-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
  background: #e5e5e5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #e5e5e5;
}
.out-dock ul.side-wideget li {
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
  height: 55px;
  line-height: 34px;
  border-top: 1px solid #fff;
}
.out-dock ul.side-wideget li:first-child {
  border-top: 0;
}
.out-dock ul.side-wideget li a {
  font-size: 12px;
  color: #001f67;
  text-decoration: initial;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
}
.out-dock ul.side-wideget li:first-child.active {
  border-top: none;
}
.out-dock ul.side-wideget li.social {
  padding: 0;
}
.out-dock ul.side-wideget li.social a {
  color: #999;
  font-size: 19px;
  padding: 10px;
  width: 33.333333333%;
  text-align: center;
}
.out-dock ul.side-wideget li.social a :hover {
  color: #001f67;
}
.out-dock ul.side-wideget li.social.active {
  background-color: #e5e5e5;
}
.out-dock ul.side-wideget li.social.active a {
  color: #999;
}
.out-dock ul.side-wideget li.active {
  color: #fff;
  background-color: #001f67;
}
.out-dock ul.side-wideget li.active a {
  color: #fff;
}
.out-dock.active .side-wideget {
  width: 200px;
  border-right: none;
  opacity: 1;
}
.out-dock.active .key-wideget {
  border-left: 1px solid #e5e5e5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.heading1 {
  margin: 0 0 30px 50px;
}
section[class*="-block"] {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
section[class*="-block"] .outer {
  padding: 0 50px;
}
section[class*="-block"] .heading5 {
  font-weight: bold;
}
section[class*="-block"] * a {
  color: #06377b;
}
section[class*="-block"] * a:hover {
  text-decoration: underline;
  color: #06377b;
}
.benefits-block {
  border-bottom: 1px solid #e5e5e5;
}
.access-block {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.access-block .other-link {
  border-top: 1px solid #e5e5e5;
}
.access-block .other-link a {
  display: inline-block;
  padding: 17px 0;
  width: 314px;
  font-size: 14px;
  text-align: center;
  color: #333;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  background-color: #e9e9e9;
}
.access-block .other-link a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #001f67;
}
.breadcrumb {
  margin: 20px 50px 30px 50px;
  padding: 0;
  font-size: 14px;
  background-color: inherit;
}
.breadcrumb a {
  color: #777;
}
.breadcrumb li.active {
  font-weight: bold;
}
.breadcrumb li + li:before {
  padding: 0 8px;
  content: "/";
}
.main-banner {
  position: relative;
}
.main-banner .description {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  padding: 48px 50px 0px 30px;
  color: #fff;
}
.main-banner .description .heading2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
}
.main-banner ul {
  margin-bottom: 25px;
}
.main-banner ul li {
  font-size: 16px;
}
.main-banner ul li span {
  display: block;
}
.main-banner .btn-1 {
  font-size: 14px;
  width: 164px;
}
.main-banner .light-banner .description {
  color: #333;
}
.subtitlemixin.subtitle {
  margin-bottom: 5px;
}
.subtitlemixin.subtitle + span {
  display: block;
  font-size: 16px;
  padding: 0 50px 30px;
}
.sticky-wrapper section[class*="-block"] .heading2 {
  padding: 0 30px 0 50px;
  margin: 0 0 30px;
  outline: none;
}
.sticky-wrapper section[class*="-block"] .heading2.subtitle {
  margin-bottom: 5px;
}
.sticky-wrapper section[class*="-block"] .heading2.subtitle + span {
  display: block;
  font-size: 16px;
  padding: 0 50px 30px;
}
.sticky-wrapper section[class*="-block"] .heading2-t-30 {
  padding: 30px 0;
  padding-left: 50px;
  outline: none;
}
.sticky-wrapper section[class*="-block"] .heading2-t-30.subtitle {
  margin-bottom: 5px;
}
.sticky-wrapper section[class*="-block"] .heading2-t-30.subtitle + span {
  display: block;
  font-size: 16px;
  padding: 0 50px 30px;
}
.sticky-nav {
  margin: 30px 0 0;
}
.sticky-nav.affix {
  top: 0;
  z-index: 9;
  width: 1180px;
  margin: 0;
}
.sticky-nav ul {
  margin-bottom: 0;
  overflow: hidden;
}
.sticky-nav li {
  position: relative;
  float: left;
  width: 16.66%;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.sticky-nav li:first-child:before {
  display: none;
}
.sticky-nav li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e5e5e5;
}
.sticky-nav li:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  right: 0;
  height: 4px;
  -webkit-transition: background-color 0.7s 0.2s;
  -moz-transition: background-color 0.7s 0.2s;
  -ms-transition: background-color 0.7s 0.2s;
  -o-transition: background-color 0.7s 0.2s;
  transition: background-color 0.7s 0.2s;
  background-color: transparent;
}
.sticky-nav li.active,
.sticky-nav li:hover {
  background-color: #fff;
}
.sticky-nav li.active:before,
.sticky-nav li:hover:before {
  display: none;
}
.sticky-nav li.active:after,
.sticky-nav li:hover:after {
  background-color: #06377b;
}
.sticky-nav li.active a,
.sticky-nav li:hover a {
  color: #06377b;
}
.sticky-nav li.active + li:before,
.sticky-nav li:hover + li:before {
  display: none;
}
.sticky-nav li.active {
  pointer-events: none;
  cursor: default;
}
.sticky-nav li.active a {
  pointer-events: none;
  cursor: default;
}
.sticky-nav a {
  display: block;
  padding: 20px 0;
  font-size: 18px;
  color: #333;
  min-height: 25px;
}
.sticky-nav + section[class*='-block'] .heading2 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.sticky-nav.col-2 li {
  width: 50%;
}
.sticky-nav.col-3 li {
  width: 40%;
}
.sticky-nav.col-4 li {
  width: 25%;
}
.sticky-nav.col-5 li {
  width: 20%;
}
.sticky-nav.col-6 li {
  width: 16.6667%;
}
.sticky-nav[data-tab].promotion-landing li {
  width: 15%;
  max-width: 168px;
  min-height: 66px;
}
.sticky-nav[data-tab].promotion-landing li:nth-child(4),
.sticky-nav[data-tab].promotion-landing li:nth-child(6) {
  max-height: 66px;
}
.sticky-nav[data-tab].promotion-landing li:nth-child(4) a,
.sticky-nav[data-tab].promotion-landing li:nth-child(6) a {
  padding: 8px;
}
.other-info-block {
  padding-top: 30px;
  font-size: 16px;
}
.other-info-block p {
  font-size: 14px;
}
.other-info-block .heading2 {
  padding-left: 0;
}
.other-info-block ul li {
  font-size: 14px;
}
.same-day-block {
  background-color: #fafafa;
  padding-top: 30px;
  font-size: 16px;
  padding: 30px 0;
}
.same-day-block p {
  font-size: 16px;
}
.same-day-block .heading2 {
  padding-left: 0;
}
.same-day-block ul li {
  font-size: 16px;
}
.more-info-block {
  font-size: 16px;
}
.more-info-block a {
  font-size: 16px;
}
.more-info-block p {
  font-size: 16px;
  margin: 0;
}
#accordion {
  margin-top: 20px;
  margin-bottom: 0;
}
.panel {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel .panel-title {
  font-size: 16px;
  font-weight: normal;
}
.panel .panel-body {
  padding: 16px;
  font-size: 14px;
  border: none!important;
}
.panel-default > .panel-heading {
  position: relative;
  padding: 24px 16px;
  margin-top: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e5e5e5;
}
.panel-default > .panel-heading:hover {
  background-color: #f2f2f2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: none;
}
.panel-default > .panel-heading a {
  display: block;
  position: relative;
  color: #333;
}
.panel-default > .panel-heading a:hover {
  color: #001f67;
  text-decoration: none;
}
.panel-default > .panel-heading a:before,
.panel-default > .panel-heading a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 17px;
  height: 2px;
  background-color: #999;
  color: #999;
}
.panel-default > .panel-heading a:before {
  display: none;
  right: 12px;
  height: 16px;
  width: 2px;
  margin-top: -7px;
}
.panel-default > .panel-heading a.collapsed {
  border-bottom: none;
}
.panel-default > .panel-heading a.collapsed:before {
  display: block;
}
.cal-total-savings .col-md-6 {
  padding: 0;
}
.cal-total-savings .border {
  position: relative;
  border: 0;
}
.cal-total-savings .border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 1px;
  background-color: #f2f2f2;
}
.cal-total-savings .border:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90px;
  width: 1px;
  background-color: #f2f2f2;
}
.cal-total-savings .heading5 {
  text-align: center;
  font-weight: bold;
}
.cal-total-savings .form-group {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-top: 53px;
  font-size: 16px;
  text-align: center;
}
.cal-total-savings .form-group label {
  display: block;
  margin-bottom: 15px;
}
.cal-total-savings .form-group input {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  line-height: 20px;
  width: 80px;
  height: 40px;
  border: 1px solid #f2f2f2;
}
.formula-block {
  display: flex;
  margin: 30px 0 0;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #001f67;
}
.formula-block .title {
  display: block;
  font-size: 16px;
}
.formula-block .title span {
  display: block;
}
.formula-block .total {
  font-size: 24px;
}
.formula-block .icon-cal {
  position: relative;
}
.formula-block .icon-cal span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -17px;
  font-size: 30px;
  font-weight: bold;
}
.slider.slider-horizontal {
  width: 100%;
  margin-top: 36px;
}
.slider-handle {
  width: 34px;
  height: 34px;
  top: -10px;
  -webkit-box-shadow: 2px 1px 5px #808080;
  -moz-box-shadow: 2px 1px 5px #808080;
  box-shadow: 2px 1px 5px #808080;
  background: #fff;
}
.slider-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -7px;
  width: 13px;
  height: 13px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-tick {
  width: 15px;
  height: 15px;
  top: -1px;
  -webkit-box-shadow: 2px 2px 5px #666;
  -moz-box-shadow: 2px 2px 5px #666;
  box-shadow: 2px 2px 5px #666;
  background: #fff;
}
.slider-tick:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -7px;
  width: 13px;
  height: 13px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-tick.round {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e5e5e5;
}
.slider-tick.round:before {
  display: none;
}
.slider.slider-horizontal .slider-track {
  height: 5px;
}
.slider-selection.tick-slider-selection,
.slider-track-high {
  height: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e5e5e5;
}
.slider-tick-label {
  margin-top: 20px;
  font-size: 14px;
}
.calculator-block .heading2 {
  padding-left: 0;
}
.calculate-cash-rebate {
  font-size: 16px;
}
.calculate-cash-rebate figure {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 80px;
}
.calculate-cash-rebate figure figcaption {
  padding-right: 120px;
}
.calculate-cash-rebate figure .img-wrapper {
  width: 100px;
}
.calculate-cash-rebate figure img {
  margin: 0 auto;
}
.calculate-cash-rebate figure span {
  display: block;
}
.calculate-cash-rebate input[type="number"] {
  width: 80px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #f7f7f7;
}
.calculate-cash-rebate .info {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -16px;
}
.calculate-cash-rebate .info sub {
  bottom: 0;
  font-size: 16px;
}
.calculate-cash-rebate .total {
  display: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.calculate-cash-rebate .btn-1 {
  margin: 10px 0 30px;
}
.calculate-cash-rebate sub {
  bottom: .5em;
  font-size: 16px;
}
.display-block {
  display: block;
}
.margin-b-30 {
  margin-bottom: 30px;
}
.divider {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
}
.nav-tabs li a {
  display: block;
  position: relative;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1em;
  color: #333;
  text-align: center;
  border: none!important;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.nav-tabs li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  -webkit-transition: background-color 0.7s 0.2s;
  -moz-transition: background-color 0.7s 0.2s;
  -ms-transition: background-color 0.7s 0.2s;
  -o-transition: background-color 0.7s 0.2s;
  transition: background-color 0.7s 0.2s;
}
.nav-tabs li a:hover {
  color: #001f67;
  background-color: #fff;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-tabs li a:hover:before {
  background-color: #001f67;
}
.nav-tabs li.active a {
  color: #001f67;
  font-weight: bold;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  border: none;
  color: #001f67;
}
.nav-tabs li.active a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #001f67;
}
.tab-pane {
  padding-top: 50px;
}
.how-it-works-block {
  font-size: 16px;
}
.how-it-works-block .formula-block {
  width: 965px;
  margin-top: 30px;
  color: #333;
  background-color: #f3f3f3;
}
.infomation-tbl {
  padding-bottom: 20px;
}
.infomation-tbl td,
.infomation-tbl th {
  padding: 20px;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  border-left: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.infomation-tbl td:first-child,
.infomation-tbl th:first-child {
  width: 40%;
  text-align: left;
  border-left: 0;
}
.infomation-tbl td:first-child span,
.infomation-tbl th:first-child span {
  display: inline-block;
}
.infomation-tbl td:first-child span + span,
.infomation-tbl th:first-child span + span {
  width: 40%;
  padding-left: 30px;
}
.infomation-tbl td:first-child .plus,
.infomation-tbl th:first-child .plus {
  position: relative;
  width: 53%;
  padding-right: 50px;
}
.infomation-tbl td:first-child .plus:before,
.infomation-tbl th:first-child .plus:before {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -22px;
  font-size: 30px;
  font-weight: bold;
}
.infomation-tbl [rowspan] {
  vertical-align: middle;
}
.infomation-tbl th {
  color: #fff;
  background: #001f67;
}
.infomation-tbl .no-border td {
  border: none;
}
.apply-block {
  font-size: 16px;
  background-color: #fafafa;
}
.apply-block .heading {
  padding: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #001f67;
  background: #e9e9e9;
}
.apply-block h4 {
  padding-bottom: 20px;
  font-weight: bold;
}
.apply-block .link {
  display: block;
  padding-top: 15px;
}
.apply-block sub {
  bottom: 0;
  font-size: 90%;
}
.apply-block .btn-1 {
  min-width: 133px;
}
.apply-block .grid-content {
  vertical-align: top;
}
.apply-block .grid-content + .grid-content {
  border-left: 3px solid #fff;
}
.apply-block .grid-content .inner {
  text-align: left;
}
.apply-block .grid-content .inner figure {
  position: relative;
  margin-bottom: 25px;
}
.apply-block .grid-content .inner figure:last-child {
  margin-bottom: 0;
}
.apply-block .grid-content .inner .descs {
  padding-left: 128px;
}
.apply-block .grid-content .inner img {
  position: absolute;
  left: 30px;
  top: 0;
  width: 70px;
  height: auto;
}
.apply-block .grid-content .inner > .link {
  padding-left: 128px;
}
.apply-block .grid-content .inner > .link a {
  color: #fff;
}
.apply-block .grid-content .inner .heading {
  background: none;
  padding: 0;
  text-align: left;
  margin-bottom: 25px;
}
.fees-requirements-block {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}
.fees-requirements-block .heading2 {
  margin-bottom: 0;
}
.fees-requirements-block .heading5 {
  margin-bottom: 20px;
}
.fees-requirements-block .nav-tabs {
  display: none;
}
.fees-requirements-block .tab-content > .tab-pane {
  display: block;
}
.fees-requirements-block .tab-content > .tab-pane:first-child {
  padding-top: 0;
  padding-bottom: 20px;
}
.fees-requirements-block .tab-content > .tab-pane + .tab-pane {
  padding-top: 30px;
}
.fees-requirements-block .tab-content.col-2 .tab-pane {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 49%;
}
.fees-requirements-block .tab-content.col-2 .tab-pane dt {
  min-width: 0;
  width: 30%;
  max-width: 160px;
}
.fees-requirements-block .tab-content.col-2 .tab-pane + .tab-pane {
  padding-left: 30px;
  border-left: 1px solid #e5e5e5;
}
.fees-requirements-block p {
  font-size: 16px;
}
#requirements {
  border-bottom: 1px solid #e5e5e5;
}
dl {
  margin-bottom: 10px;
}
dt {
  display: inline-block;
  min-width: 200px;
  font-weight: normal;
}
dd {
  display: inline-block;
}
dd:before {
  content: "\2022";
  position: relative;
  top: 0px;
  left: -10px;
}
.group-dd {
  display: inline-block;
  width: 69%;
  vertical-align: top;
}
.group-dd dd {
  display: block;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.row > .divider {
  margin: 20px 50px;
}
.block-button-at-top {
  position: relative;
  padding: 0 50px;
  height: 0;
  text-align: right;
}
.block-button-at-top .btn-1 {
  font-size: 14px;
  padding: 8px 12px;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: translate3d(0, -140%, 0);
  -moz-transform: translate3d(0, -140%, 0);
  -ms-transform: translate3d(0, -140%, 0);
  -o-transform: translate3d(0, -140%, 0);
  transform: translate3d(0, -140%, 0);
}
.block-button-at-top .btn-1 .fa {
  font-size: 24px;
  padding-right: 5px;
  vertical-align: middle;
}
.filter-block {
  position: relative;
  padding: 0 50px;
  font-size: 0;
}
.filter-block .filter-control {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}
.filter-block .filter-control.search-control {
  position: absolute;
  left: 50px;
  right: 50px;
  top: -20px;
  bottom: -20px;
  z-index: 1;
  padding: 0;
}
.filter-block .filter-control.search-control.open {
  background: #f7f7f7;
  z-index: 2;
}
.filter-block .filter-control.search-control.open .form-control {
  display: block;
}
.filter-block .filter-control.search-control.open .btn {
  background: #fff;
}
.filter-block .filter-control.search-control.open .btn.active {
  background: #cdcdcd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.filter-block .filter-control.search-control.open .btn.btn-searchclose {
  display: inline-block;
}
.filter-block .filter-control.search-control .form-control {
  display: none;
  background: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 148px;
  width: auto;
  height: auto;
  padding: 0 15px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.filter-block .filter-control.search-control .form-control input {
  background: none;
  border: none;
  left: 15px;
  right: 15px;
  height: 100%;
  padding: 0;
  line-height: 1;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  width: 95%;
}
.filter-block .filter-control.search-control .form-control input::-webkit-input-placeholder {
  color: #001f67;
}
.filter-block .filter-control.search-control .form-control input:-moz-placeholder {
  color: #001f67;
}
.filter-block .filter-control.search-control .form-control input::-moz-placeholder {
  color: #001f67;
}
.filter-block .filter-control.search-control .form-control input:-ms-input-placeholder {
  color: #001f67;
}
.filter-block .filter-control.search-control .form-control input::-ms-clear {
  display: none;
}
.filter-block .filter-control.search-control .btn {
  float: right;
  background: none;
  color: #001f67;
  font-size: 36px;
  height: 100%;
  line-height: 1;
  width: 74px;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
  margin: 0;
}
.filter-block .filter-control.search-control .btn.btn-searchclose {
  display: none;
}
.filter-block .filter-control.search-control .btn .fa {
  line-height: 0;
}
.filter-block .filter-control.search-control .btn .fa-times-thin {
  font-size: 56px;
}
.filter-block .filter-control .caption {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
.filter-block .filter-control .caption.mobile-switch:after {
  content: ':';
}
.filter-block .filter-control .btn-group.bootstrap-select {
  width: auto;
  min-width: 90px;
}
.filter-block .filter-control .btn-group.bootstrap-select .btn {
  background: #f3f3f3;
  font-weight: 700;
  font-size: 16px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #333;
}
.filter-block .filter-control.multiple .btn-group.bootstrap-select {
  min-width: 260px;
}
.filter-block .filter-control.multiple .btn-group.bootstrap-select .btn {
  background: #fff;
  -webkit-box-shadow: 0 2px 0 0 #f3f3f3;
  -moz-box-shadow: 0 2px 0 0 #f3f3f3;
  box-shadow: 0 2px 0 0 #f3f3f3;
}
.filter-block .filter-control.multiple .btn-group.bootstrap-select .btn.bs-placeholder {
  font-weight: 400;
}
.filter-block .filter-control .btn-reset {
  position: relative;
  background: transparent;
  border: none;
  color: #001f67;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}
section.content-block,
.content-block {
  padding: 0 50px 30px;
}
.responsive-table {
  margin: 0px auto 20px;
  width: 100%;
}
.responsive-table th,
.responsive-table td {
  border: solid 1px #e5e5e5;
  border-left: none;
  padding: 8px 15px;
}
.responsive-table th {
  background: #0d2b63;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-top: none;
  text-align: center;
}
.responsive-table td {
  padding: 15px;
  min-width: 160px;
  text-align: center;
}
.responsive-table td p {
  font-size: 16px;
  max-width: 280px;
}
.responsive-table td .btn-1 {
  white-space: nowrap;
  padding: 8px 30px;
}
.responsive-table td .btn-1:focus {
  background: #001f67;
}
.responsive-table th:first-child,
.responsive-table td:first-child {
  text-align: left;
}
.responsive-table th:last-child,
.responsive-table td:last-child {
  border-right: none;
  min-width: 0px;
  width: 60px;
}
.responsive-table th:nth-last-child(2),
.responsive-table td:nth-last-child(2),
.responsive-table th:nth-last-child(3),
.responsive-table td:nth-last-child(3) {
  border-right: none;
}
.expanded-table {
  margin-top: 20px;
}
.expanded-table tr:nth-child(odd):hover td {
  background: #f7f7f7;
}
.expanded-table tr:nth-child(even) td {
  padding: 0;
  border-bottom-color: transparent;
}
.expanded-table td {
  position: relative;
}
.expanded-table .bs-caret {
  float: right;
}
.pagination {
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 auto 20px;
}
.pagination a {
  display: inline-block;
  padding: 2px 4px;
  margin: 0 8px;
  vertical-align: middle;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.pagination a.active {
  color: #001f67;
  border-bottom: solid 2px #001f67;
  cursor: default;
  font-weight: 700;
}
.pagination a .fa {
  color: #001f67;
  font-size: 20px;
}
.btn-none {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bootstrap-select .dropdown-menu,
td .dropdown-menu {
  width: auto;
  min-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.bootstrap-select .dropdown-menu ul,
td .dropdown-menu ul {
  margin: 0;
}
.bootstrap-select .dropdown-menu ul li,
td .dropdown-menu ul li {
  display: block;
  padding: 0;
  text-align: left;
  border-top: 1px solid #fff;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.bootstrap-select .dropdown-menu ul li:first-child,
td .dropdown-menu ul li:first-child {
  border-top: 1px solid transparent;
}
.bootstrap-select .dropdown-menu ul li:last-child,
td .dropdown-menu ul li:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bootstrap-select .dropdown-menu ul li a,
td .dropdown-menu ul li a {
  display: block;
  background-color: #f3f3f3;
  padding: 8px 14px;
  color: #333;
  white-space: nowrap;
  font-weight: 700;
}
.bootstrap-select .dropdown-menu ul li a:hover,
td .dropdown-menu ul li a:hover {
  background-color: #cccccc;
  text-decoration: none;
  color: #333;
}
.bootstrap-select.open .caret,
td.open .caret {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
td .dropdown-hover {
  display: inline-block;
}
td .dropdown-hover .dropdown-menu {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
td .dropdown-hover .dropdown-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px #f3f3f3;
  margin: -5px auto 0;
}
td .dropdown-hover .dropdown-menu ul li {
  text-align: center;
}
.dropdown-hover {
  position: relative;
}
.icon.icon-file::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 40px;
  background: url(/images/funds-selector/document.png) no-repeat 0 0 transparent;
  background-size: 32px 40px;
}
.expanded-table button.accordion-toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  color: #333;
  text-align: center;
  font-size: 0;
  padding: 0;
  line-height: 1;
}
.expanded-table button.accordion-toggle.collapsed {
  opacity: 0;
}
.expanded-table button.accordion-toggle:hover {
  color: #001f67;
  text-decoration: none;
}
.expanded-table button.accordion-toggle:before,
.expanded-table button.accordion-toggle:after {
  content: "";
  color: #999;
  display: inline-block;
}
.expanded-table button.accordion-toggle:before {
  opacity: 0;
  height: 16px;
  width: 2px;
}
.expanded-table button.accordion-toggle:after {
  height: 2px;
  width: 16px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -1px;
  background-color: #001f67;
}
.expanded-table button.accordion-toggle.collapsed:after {
  background: #999;
}
.expanded-table button.accordion-toggle.collapsed:before {
  opacity: 1;
  background: #999;
}
.expanded-table tr:hover button.accordion-toggle,
.expanded-table tr:hover button.collapsed {
  opacity: 1;
}
.expanded-table .expand-content {
  background: #e5e5e5;
  padding: 0 15px;
}
.expanded-table .expand-content .text-block {
  display: table;
  width: 100%;
}
.expanded-table .expand-content .text-block > div {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  text-align: center;
  padding: 15px 0 0;
}
.expanded-table .expand-content .text-block > div:first-child {
  text-align: left;
}
.expanded-table .expand-content .text-block > div h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px #cccccc;
}
.expanded-table .expand-content .text-block > div p {
  max-width: none;
  margin: 0 0 10px 0;
}
.expanded-table .expand-content .text-block > div .list-unstyled {
  font-size: 0;
}
.expanded-table .expand-content .text-block > div .list-unstyled li {
  display: inline-block;
  font-size: 16px;
  width: 25%;
}
.expanded-table .expand-content .text-block + .text-block > div {
  padding: 0 0 15px;
}
.expanded-table tr.expanded:hover td {
  background: #e5e5e5;
}
.expanded-table tr.expanded td {
  background: #e5e5e5;
}
.multiple .bootstrap-select.show-tick .dropdown-menu a {
  line-height: 25px;
}
.multiple .bootstrap-select.show-tick .dropdown-menu span.text {
  margin-right: 0!important;
  margin-left: 44px;
}
.multiple .bootstrap-select.show-tick .dropdown-menu span.check-mark {
  display: block!important;
  right: auto!important;
  left: 14px;
  top: 8px;
  width: 25px;
  height: 25px;
  background: #ddd;
  margin: 0!important;
  position: absolute;
  text-align: center;
  line-height: 25px;
  font-size: 0;
}
.multiple .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  font-size: 16px;
}
.expanded-table-control {
  position: relative;
}
.expanded-table-control .accordion-toggle-all {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -20px;
  color: #001f67;
  font-size: 16px;
  z-index: 2;
  padding-right: 44px;
  line-height: 20px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.expanded-table-control .accordion-toggle-all:before,
.expanded-table-control .accordion-toggle-all:after {
  content: "";
  display: inline-block;
  background-color: #001f67;
}
.expanded-table-control .accordion-toggle-all:before {
  opacity: 0;
  height: 12px;
  width: 2px;
  right: 25px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.expanded-table-control .accordion-toggle-all:after {
  height: 2px;
  width: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -1px;
}
.expanded-table-control .accordion-toggle-all.collapsed:before {
  opacity: 1;
}
/*# sourceMappingURL=funds-selector-desktop-style.css.map */