.navbar-toggle span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.navbar-toggle span:nth-child(1) {
  display: none;
  top: 20px;
  width: 0%;
  left: 50%;
}
.navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
  left: 0;
  top: 20px;
}
.navbar-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 20px;
  left: 0;
  top: 20px;
}
.navbar-toggle span:nth-child(4) {
  display: none;
  top: 20px;
  width: 0%;
  left: 50%;
}
/* Bootstrap*/
.container {
  width: 100%;
}
/* Bootstrap end */
.btn-1 {
  display: inline-block;
  padding: 8px 22px;
  text-decoration: initial;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
  background: #001f67;
  width: 100%;
  max-width: 150px;
}
.btn-1:hover,
.btn-1:focus {
  color: #fff;
}
[data-uob-tg-desktop="show"] {
  display: none !important;
}
[data-uob-tg-tablet="show"],
[data-uob-tg-mobile="hide"] {
  display: none !important;
}
.data-input-hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.heading1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.heading2 {
  font-size: 24px;
  font-weight: bold;
}
.heading3 {
  font-size: 23px;
  font-weight: bold;
}
.heading4 {
  font-size: 18px;
}
[class*="pusher-"] {
  display: block;
}
.pusher-t-10 {
  margin-top: 5px;
}
.pusher-t-15 {
  margin-top: 8px;
}
.pusher-t-25 {
  margin-top: 23px;
}
.pusher-t-30 {
  margin-top: 15px;
}
.pusher-t-40 {
  margin-top: 20px;
}
.pusher-t-45 {
  margin-top: 23px;
}
.pusher-b-15 {
  margin-bottom: 15px;
}
.fixed #main {
  padding-top: 50px;
}
h1.sr-only {
  display: none;
}
.skip-link {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  display: inline-block;
  width: 1px;
  height: 1px;
  z-index: -999;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e5e5e5;
}
.skip-link:focus,
.skip-link:hover,
.skip-link:active,
.skip-link.active {
  width: 400px;
  padding: 10px 0;
  height: auto;
  z-index: 999;
  color: #333;
}
.skip-link.bottom {
  position: fixed;
  bottom: 0;
}
section[class*="-block"].last-block-mobile {
  border-bottom: 1px solid #e5e5e5 !important;
  padding-bottom: 0;
  margin-bottom: 30px;
}
section[class*="-block"].no-background {
  background: none !important;
}
section.padding-0-30 {
  padding: 0 10px 30px;
}
section[class*="-block"].product-tabs {
  padding-bottom: 0;
}
.bx-wrapper img {
  min-height: 89px;
}
.share-add-this {
  position: relative;
}
.share-add-this .addthis_inline_share_toolbox {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.bxslider-type-2 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #06377b;
  border-color: #06377b;
}
.bxslider-type-2 .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #06377b;
  border-color: #fff;
}
.bxslider-type-2 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #dc1f2d;
  border-color: #dc1f2d;
}
.no-js .preloader {
  display: none;
}
.no-js .navbar-right {
  float: left;
}
.no-js .navbar-right > div {
  position: static;
  float: left;
}
.no-js .navbar-right .block-dropdowns [class*="block-"] {
  float: left;
  position: relative;
  padding-top: 50px;
}
.no-js .navbar-right .block-dropdowns button {
  position: absolute;
  top: 0;
  left: 0;
}
.no-js .navbar-form .dropdown #toggle-search {
  display: none;
}
.no-js .dropdown-menu {
  position: static !important;
  display: block !important;
  width: auto !important;
}
.no-js .banner-slider {
  position: relative;
}
.no-js .out-dock .side-wideget {
  height: 100%;
  opacity: 1;
}
.no-js .wrapper {
  padding-bottom: 300px;
}
.no-js #main-navbar {
  display: block;
  position: absolute;
}
.no-js .submenu-level1,
.no-js .submenu-level2 {
  display: block !important;
}
.no-js .other-info .panel-collapse {
  display: block;
}
.no-js .other-info .panel-default > .panel-heading a.collapsed:before {
  background-position: 0 -30px;
}
.no-js .panel-collapse {
  display: block;
}
.no-js .panel-default > .panel-heading .collapsed:before {
  background-position: 0 -30px;
}
.no-js :target {
  display: block!important;
  visibility: visible!important;
}
.no-js :target + .tab-pane {
  display: none!important;
  visibility: hidden!important;
}
.no-js .calculate-cash-rebate .total {
  display: block;
}
/* Home main slider */
.mainbanner {
  position: relative;
}
.bxslider img {
  width: 100%;
}
.bxslider .main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 14px;
}
.bxslider .main-banner .thumb {
  width: 45%;
}
.bxslider .main-banner .caption {
  width: 61%;
}
.bxslider .main-banner .caption h2 {
  font-size: 16px;
  font-weight: bold;
  color: #001f67;
  margin: 0 0 10px;
  text-transform: none;
  line-height: 1.25em;
}
.bxslider .main-banner .caption img {
  display: inline-block;
  max-width: 100px;
}
.bxslider .main-banner .caption .btn-1 {
  position: absolute;
  left: 50%;
  bottom: 14px;
  padding: 10px 22px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.bxslider .main-banner.left .caption {
  float: left;
  padding-left: 2%;
}
.bxslider .main-banner.right .caption {
  float: right;
  width: 52%;
}
.bxslider .main-banner.middle {
  float: none;
  text-align: center;
  width: 100%;
  top: auto;
  bottom: 0;
  padding: 0;
}
.bxslider .main-banner.middle .caption {
  width: 100%;
}
.bx-pager {
  position: relative;
  padding: 6px 0 7px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  z-index: 51;
  text-align: center;
}
.bx-pager a {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 8px;
  color: #333;
  text-decoration: initial;
  text-align: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #001f67;
}
.bx-pager a .bx-pager-tabs {
  display: none;
}
.bx-pager a.active {
  width: 9px;
  height: 9px;
  background: #dc1f2d;
  margin-bottom: -1px;
}
.dock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}
.dock.active .w-close {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  position: fixed;
}
.m-wideget {
  display: none;
  position: relative;
  z-index: 53;
}
.open-menu .m-wideget {
  display: block;
}
.out-dock {
  text-align: right;
  position: relative;
  z-index: 2;
}
.out-dock ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.out-dock ul.key-wideget {
  position: absolute;
  bottom: 0;
  min-height: 75px;
  background: #fff;
  width: 100%;
  text-align: center;
  display: table;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.out-dock ul.key-wideget li {
  position: relative;
  width: 20%;
  display: table-cell;
  padding: 10px 5px;
}
.out-dock ul.key-wideget li .content {
  color: #001f67;
}
.out-dock ul.key-wideget li .content .text {
  position: absolute;
  top: 0;
  padding-top: 39px;
  display: block;
  text-transform: uppercase;
  line-height: 1;
  font-size: 10px;
  color: #333;
}
.out-dock ul.key-wideget li .icon {
  font-size: 24px;
}
.out-dock ul.key-wideget li.active {
  background: #001f67;
}
.out-dock ul.key-wideget li.active .icon {
  color: #fff;
}
.out-dock ul.key-wideget li.active .content span {
  color: #fff;
}
.out-dock ul.side-wideget {
  background: #e5e5e5;
  width: 100%;
  height: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  position: relative;
  bottom: 75px;
}
.out-dock ul.side-wideget li {
  width: 100%;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}
.out-dock ul.side-wideget li a {
  font-size: 12px;
  color: #001f67;
  text-decoration: initial;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}
.out-dock ul.side-wideget li.social a {
  color: #999;
  font-size: 20px;
  width: 33.333333333%;
  border-left: 1px solid #fff;
  text-align: center;
}
.out-dock ul.side-wideget li.active {
  display: block;
  color: #fff;
  background-color: #001f67;
}
.out-dock ul.side-wideget li.active a {
  color: #fff;
}
.out-dock.active .side-wideget {
  height: auto;
  opacity: 1;
}
.out-dock.active .key-wideget {
  border-top: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.heading1 {
  margin: 15px 10px;
}
.main-banner .description {
  padding: 0 10px 25px;
  font-size: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}
.main-banner .description .heading2 {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  font-size: 23px;
}
.main-banner ul {
  margin-bottom: 15px;
}
.main-banner .btn-1 {
  display: table;
  margin: 0 auto;
  font-size: 15px;
}
.main-banner .light-banner .description {
  color: #333;
}
.main-banner .card-banner {
  margin: 0 auto;
}
.main-banner .bx-wrapper img[data-uob-tg-mobile="show"] {
  width: 100%;
}
.calculator-block .content-block {
  padding: 0;
}
.calculate-cash-rebate {
  font-size: 14px;
}
.calculate-cash-rebate .heading5 {
  font-weight: bold;
}
.calculate-cash-rebate figure figcaption {
  padding-left: 100px;
}
.calculate-cash-rebate figure .img-wrapper {
  float: left;
  width: 90px;
}
.calculate-cash-rebate figure img {
  margin: 0 auto;
}
.calculate-cash-rebate figure span {
  display: block;
}
.calculate-cash-rebate input[type="number"] {
  width: 80px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #f7f7f7;
}
.calculate-cash-rebate .info {
  margin-top: 10px;
  margin-bottom: 25px;
}
.calculate-cash-rebate .total {
  display: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}
.calculate-cash-rebate p {
  font-size: 12px;
}
.btn-1 {
  margin: 10px 0 30px;
}
.display-block {
  display: block;
}
.margin-b-30 {
  margin-bottom: 30px;
}
.nav-tabs.nav-justified li {
  float: left;
  width: 50%;
}
.nav-tabs.nav-justified li a {
  display: block;
  position: relative;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 1em;
  color: #333;
  text-align: center;
  border: none!important;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.nav-tabs.nav-justified li a:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: 1;
  -webkit-transition: background-color 0.7s 0.2s;
  -moz-transition: background-color 0.7s 0.2s;
  -ms-transition: background-color 0.7s 0.2s;
  -o-transition: background-color 0.7s 0.2s;
}
.nav-tabs.nav-justified li.active a {
  color: #001f67;
  font-weight: bold;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav-tabs.nav-justified li.active a:hover,
.nav-tabs.nav-justified li.active a:focus {
  border: none;
}
.nav-tabs.nav-justified li.active a:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #001f67;
}
.nav-tabs.nav-justified.cards-compare .nav > li a {
  padding: 20px 0;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab.active:after,
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab:hover:after {
  background-color: transparent;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab:hover,
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab:focus {
  background-color: #f7f7f7;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare {
  outline: none;
  border: none;
  background: #ee1729;
  border-radius: 5px;
  color: #fff;
  text-align: left;
  padding: 5px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare img {
  margin-right: 10px;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare span {
  color: #fff;
  font-size: 11px;
  display: inline-block;
  padding-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare .count {
  color: #fff;
  font-size: 12px;
  position: absolute;
  background: #b50000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  text-align: center;
  line-height: 33px;
  padding-right: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare:hover {
  background-color: transparent;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare.clear-all {
  display: none;
  max-width: 130px;
  padding-left: 5px;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare.clear-all span {
  margin-left: 5px;
}
.nav-tabs.nav-justified.cards-compare .nav > li.button-compare-tab .button-compare.clear-all .count {
  font-size: 14px;
  line-height: 26px;
}
.tab-pane {
  padding: 15px 10px 25px;
}
.cal-total-savings .col-md-6 {
  padding: 0;
}
.cal-total-savings .col-md-6:first-child {
  margin-top: 30px;
}
.cal-total-savings .row {
  margin-left: 0;
  margin-right: 0;
}
.cal-total-savings .heading5 {
  text-align: center;
  font-weight: bold;
}
.cal-total-savings .form-group {
  margin-bottom: 8px;
  font-size: 15px;
}
.cal-total-savings .form-group .inner {
  display: inline-block;
  width: 40%;
  text-align: right;
}
.cal-total-savings .form-group label {
  display: inline-block;
  width: 60%;
}
.cal-total-savings .form-group input {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  width: 70px;
  height: auto;
  border: 1px solid #f2f2f2;
}
.cal-total-savings .checkbox-blue {
  display: block;
}
.cal-total-savings .checkbox-blue label:before {
  top: 0;
  left: inherit;
  right: 37px;
  width: 33px;
  height: 30px;
  background-size: 80%;
}
.formula-block {
  margin: 30px 0 0;
  padding: 20px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  background-color: #001f67;
}
.formula-block [class*="col-md"] {
  padding: 0;
}
.formula-block .title {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
.formula-block .title span {
  margin-left: 5px;
}
.formula-block .total {
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  width: 100%;
  text-align: center;
}
.formula-block .icon-cal {
  position: relative;
  padding: 10px 0;
  text-align: center;
}
.formula-block .icon-cal span {
  font-size: 30px;
  font-weight: bold;
}
.formula-block .icon-cal.last {
  margin: 10px 0;
  padding: 0;
  border-top: 1px solid #fff;
}
.slider.slider-horizontal {
  width: 96%;
  display: block;
  height: auto;
  margin: 0 auto !important;
}
.slider-handle {
  width: 22px;
  height: 22px;
  top: 18px;
  -webkit-box-shadow: 2px 1px 5px #808080;
  -moz-box-shadow: 2px 1px 5px #808080;
  box-shadow: 2px 1px 5px #808080;
  background: #fff;
}
.slider-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -6px;
  width: 10px;
  height: 10px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-tick {
  width: 15px;
  height: 15px;
  top: 1px;
  -webkit-box-shadow: 2px 2px 5px #666;
  -moz-box-shadow: 2px 2px 5px #666;
  box-shadow: 2px 2px 5px #666;
  background: #fff;
}
.slider-tick:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -7px;
  width: 13px;
  height: 13px;
  background: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-tick.round {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e5e5e5;
}
.slider-tick.round:before {
  display: none;
}
.slider.slider-horizontal .slider-tick-container {
  top: 22px;
}
.slider.slider-horizontal .slider-track {
  height: 5px;
}
.slider.slider-horizontal .slider-tick-label-container {
  margin-left: 0!important;
  margin-right: -13px;
  margin-top: 0;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  width: 50%!important;
  margin: 44px 0 0 -9px;
  font-size: 15px;
  text-align: left;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label + .slider-tick-label {
  margin-left: 0;
  text-align: right;
}
.slider.slider-horizontal .slider-selection.tick-slider-selection,
.slider-track-high {
  height: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e5e5e5;
}
.fees-requirements-block {
  margin-bottom: 0;
  font-size: 15px;
}
.fees-requirements-block .heading2 {
  margin-left: 10px;
}
.fees-requirements-block .heading5 {
  margin-bottom: 20px;
  font-weight: bold;
}
.fees-requirements-block .tab-content > .tab-pane {
  padding: 30px 10px 0;
}
.fees-requirements-block p {
  font-size: 15px;
}
section.fees-requirements-block .outer {
  padding: 0;
}
dl {
  margin-bottom: 10px;
}
dt {
  display: inline-block;
  min-width: 180px;
  font-weight: normal;
}
dd {
  display: inline-block;
}
dd:before {
  content: "\2022";
  position: relative;
  top: 0px;
  left: -10px;
}
dd.group-dd:before {
  content: none;
}
.group-dd {
  display: block;
}
.group-dd .list-disc li {
  padding-left: 5px;
}
.group-dd .list-disc li:before {
  left: -10px;
}
#eligibility dd,
#efees dd {
  width: 100%;
  margin-left: 10px;
}
.affix + .product-tabs {
  padding-top: 58px;
}
.sticky-nav[data-tab] {
  margin: 0;
}
.sticky-nav[data-tab] li {
  width: 33.333333%;
}
.product-tabs .heading2 {
  outline: none;
  margin-top: 20px;
}
.product-tabs .tab-pane {
  padding: 0;
}
.product-tabs .grid-content {
  border-bottom: none;
}
.product-tabs .grid-content:first-child:not(.grid-whitesmoke) {
  background: inherit;
}
.product-tabs .grid-content:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.product-tabs .grid-content.grid-whitesmoke {
  border-bottom: none;
}
.product-tabs .grid-content img {
  max-width: 70px;
  height: auto;
}
.product-tabs .grid-content img.custom-img-1 {
  padding: 0 9px;
}
.product-tabs .fixeddeposits-tab .grid-content:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}
.product-tabs .link {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
}
.our-team-block h5 {
  font-size: 16px;
  font-weight: 700;
}
.our-team-block p {
  font-size: 16px;
  margin: 0;
}
.our-team-block .row-list {
  margin-left: -15px;
  margin-right: -15px;
}
.our-team-block .row-list:before,
.our-team-block .row-list:after {
  content: '';
  display: table;
}
.our-team-block .row-list:after {
  clear: both;
}
.essential-services-block .heading2 {
  margin-top: 20px;
}
.essential-services-block .grid-content {
  border-bottom: none;
}
.essential-services-block .grid-content .inner {
  padding-bottom: 30px;
}
.essential-services-block .grid-content h3 {
  margin-bottom: 20px;
}
.essential-services-block .grid-content img {
  width: 45px;
  margin-left: 15px;
}
.essential-services-block .custom-img-1 {
  padding: 0 11px;
}
.filter-content-block {
  width: 100%;
}
.filter-content-block .filter-item {
  text-align: center;
}
.filter-content-block .filter-item li {
  font-size: 18px;
}
.filter-content-block .dropdown-filter-group {
  width: 100%;
  text-align: left;
  padding: 0 15px;
}
.filter-content-block .dropdown-filter-group label {
  display: block;
  font-size: 15px;
  font-weight: normal;
}
.filter-content-block .dropdown-filter-group .dropdown {
  margin-bottom: 10px;
}
.filter-content-block .btn-dropdown {
  background: #f3f3f3;
  border: none;
  font-size: 15px;
  text-align: left;
  outline: none;
  padding: 10px;
  width: 100%;
}
.filter-content-block .btn-dropdown .caret {
  float: right;
  margin-top: 7px;
  border-top: 8px dashed;
}
.filter-content-block .dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
  width: 100%;
}
.filter-content-block .dropdown-menu ul {
  margin: 0;
}
.filter-content-block .dropdown-menu ul li {
  display: block;
  padding: 8px 14px;
  text-align: left;
  border-top: 1px solid #fff;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  background-color: #e3e3e3;
  cursor: pointer;
}
.filter-content-block .dropdown-menu ul li:hover {
  background-color: #eaeaea;
}
.filter-content-block .dropdown-menu ul li:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.filter-content-block .dropdown-menu ul li a {
  display: block;
  white-space: nowrap;
  color: #333;
  text-transform: uppercase;
  margin-left: 5px;
}
section.filter-content-block {
  border: none;
  margin: 0;
}
.offer-listing {
  padding: 10px;
  color: #06377b;
  display: block;
  font-size: 16px;
}
.offer-listing img,
.offer-listing span {
  display: inline-block;
  vertical-align: middle;
}
.offer-listing span {
  margin-left: 10px;
}
.offer-listing .offer-nav {
  display: inline-block;
  float: right;
  margin-left: 15px;
}
.offer-listing a[class*='arrow'] {
  background: #f3f3f3;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  min-height: 25px;
  min-width: 25px;
}
.offer-listing a[class*='arrow']:first-child {
  margin-left: 0;
}
.offer-content {
  font-size: 16px;
}
.offer-content span,
.offer-content p {
  font-size: 16px;
}
.offer-content h3 {
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px 0 10px;
}
.offer-content .list-disc {
  font-weight: 700;
}
.offer-content .bxslider-type-3 ul li {
  padding: 0 10px;
}
.offer-content .offer-detail {
  width: 100%;
  padding: 0 20px 0 10px;
}
.offer-content .offer-button-group {
  padding-top: 5px;
}
.offer-content .offer-button-group .btn-1 {
  font-size: 15px;
  max-width: 165px;
  margin: 0 0 10px;
  width: 100%;
}
.call-share-group {
  display: block;
  margin-bottom: 25px;
  width: 100%;
}
.call-share-group a {
  background: #f3f3f3;
  color: #333;
  display: inline-block;
  font-size: 16px;
  width: 50%;
  padding: 14px;
  text-align: center;
}
.call-share-group a + a {
  border-left: 1px solid #cccccc;
}
.call-share-group a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.call-share-group a span.fa-phone {
  font-size: 20px;
  color: #0c3577;
}
.share-book-group {
  display: block;
  text-align: center;
}
.share-book-group a {
  display: inline-block;
  font-size: 16px;
  padding: 9px;
  margin-right: 25px;
}
.share-book-group a span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.offer-contact {
  display: inline-block;
  vertical-align: top;
}
.offer-contact .contact-item {
  margin-bottom: 20px;
}
.offer-contact label {
  display: block;
  margin: 0;
}
.offer-contact .get-direct img {
  margin-right: 10px;
}
.offer-contact .get-direct > * {
  display: inline-block;
  vertical-align: middle;
}
.offer-contact-inline {
  font-size: 0;
}
.offer-contact-inline .contact-item {
  display: block;
  font-size: 16px;
  vertical-align: top;
  margin-bottom: 20px;
}
.offer-contact-inline label {
  display: block;
  margin: 0;
}
.offer-contact-inline .get-direct img {
  margin-right: 10px;
}
.offer-contact-inline .get-direct > * {
  display: inline-block;
  vertical-align: middle;
}
.offer-openning-hours {
  display: inline-block;
  vertical-align: top;
}
.offer-openning-hours label .text-red {
  display: inline-block;
  font-size: 12px;
}
.offer-openning-hours ul li {
  line-height: 1.5em;
}
.offer-openning-hours ul li span {
  display: inline-block;
  max-width: 60px;
  width: 100%;
}
.offer-block {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.offer-block h3 {
  width: 100%;
  padding-left: 0;
}
.offer-block small {
  font-size: 12px;
}
.offer-block .infomation-tbl table {
  width: 100%;
}
.offer-block .offer-block-item {
  margin-top: 0;
}
.offer-block .offer-block-item [class*=item-thumbnail] {
  text-align: center;
}
.offer-block .offer-block-item [class*=item-thumbnail] img {
  margin: 0 auto 20px;
}
.offer-block.last {
  border: none;
  padding: 0;
  margin: 0;
}
.offer-block:after {
  content: '';
  clear: both;
  display: block;
}
.offer-block .offer-accor .panel-default > .panel-heading {
  background: #001f67;
  color: #fff;
}
.offer-block .offer-accor .panel-default > .panel-heading a:before,
.offer-block .offer-accor .panel-default > .panel-heading a:after {
  background-color: #fff;
  color: #fff;
}
.offer-block .offer-accor .panel .panel-body {
  padding-bottom: 0;
}
.grid-items {
  width: 100%;
  display: block;
}
.grid-items .grid-thumbnail {
  display: block;
}
.grid-items .grid-thumbnail img {
  width: 100%;
}
.grid-items .grid-desc {
  border-top: 1px solid #e5e5e5;
  display: inline-block;
  float: left;
  font-size: 16px;
  padding: 10px;
  overflow: auto;
  width: 100%;
}
.grid-items .grid-desc .heading3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.grid-items .grid-desc p {
  font-size: 16px;
}
.infor-contact {
  display: table;
}
.infor-contact strong {
  display: inline-block;
  margin-right: 5px;
}
.infor-contact p {
  margin-bottom: 10px;
}
/*# sourceMappingURL=product-card-detail-mobile-style.css.map */